{% extends "base.html" %} {% load static %} {% load bootstrap_tags %} {% block content %}

<!--Header and Image-->
<div class="parallax" style="background-image: url({% static 'img/jpt-gym.jpg' %}">
    <div class="text-center text-jpt-white bg-jpt-darkimage jpt-page-header">
        <h5 class="">Forgotton Password</h5>
    </div>
</div>

<!--Log In Form-->
<div class="row py-4 bg-jpt-black">
    <div class="col-10 offset-1 text-jpt-white text-center">
        <p>
            We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
        </p>
        <p>
            If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
        </p>
    </div>
</div>

{% endblock content %}
