{% extends "base.html" %} {% load static %} {% load bootstrap_tags %} {% block content %}

<!--Header and Image-->
<div class="parallax" style="background-image: url({% static 'img/jpt-gym.jpg' %}">
    <div class="text-center text-jpt-white bg-jpt-darkimage jpt-page-header">
        <h5 class="">Forgotton Password</h5>
    </div>
</div>

<!--Log In Form-->
<div class="row py-4 bg-jpt-black">
    <div class="col-10 offset-1 text-jpt-white text-center">
        {% if validlink %}
        <h3>Change password</h3>
        <form method="post">
            {% csrf_token %} {{ form.as_p }}
            <button type="submit">Change password</button>
        </form>
        {% else %}
        <p>
            The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
        </p>
        {% endif %}
    </div>
</div>

{% endblock content %}
