{% extends "base.html" %} {% load static %} {% load bootstrap_tags %} {% block content %}

<!--Header and Image-->
<div class="parallax" style="background-image: url({% static 'img/jpt-gym.jpg' %}">
    <div class="text-center text-jpt-white bg-jpt-darkimage jpt-page-header">
        <h5 class="">Forgotton Password</h5>
    </div>
</div>

<!--Log In Form-->
<div class="row py-4 bg-jpt-black">
    <div class="col-10 offset-1 text-jpt-white text-center">
        <p>
            Your password has been reset <a href="{% url 'user-login' %}">Go to Log In</a>
        </p>
    </div>
</div>

{% endblock content %}
