/*font-family: 'Sriracha', cursive;*/

/*font-family: 'Raleway', sans-serif;*/

/*font-family: 'Open Sans', sans-serif;*/

/* --------------------------------- App settings -------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: 'Raleway', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

/* ---------------------------- JPT Background Colours ---------------------------- */

.bg-jpt-darkblue {
    background-color: #00213b;
}

.bg-jpt-black {
    background-color: #111111;
}

.bg-jpt-grey {
    background-color: #333333;
}

.bg-jpt-teal {
    background-color: #008080;
}

.bg-jpt-white {
    background-color: #fafafa;
}

.bg-jpt-darkimage {
    background-color: rgba(48, 48, 48, 0.5);
}

.bg-jpt-red {
    background-color: #de0000;
}


/* -------------------------- JPT Text Colours --------------------------------- */

.text-jpt-darkblue {
    color: #00213b;
}

.text-jpt-black {
    color: #222222;
}

.text-jpt-grey {
    color: #333333;
}

.text-jpt-teal {
    color: #008080;
}

.text-jpt-white {
    color: #fafafa !important;
}

.text-jpt-blue {
    color: #0060b0;
}

.text-jpt-red {
    color: #de0000;
}


/* ------------------------------------- Navbar -------------------------------------- */

.jpt-nav-primary {
    width: 100%;
    z-index: 1;
    position: fixed;
    top: 0px;
    transition: top 0.3s;
    min-height: 80px;
    background: rgb(17, 17, 17);
    background: linear-gradient(0deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.3536765047816002) 10%, rgba(17, 17, 17, 0.6) 25%, rgba(17, 17, 17, 0.75) 50%, rgba(17, 17, 17, 0.85) 75%, rgba(17, 17, 17, 1) 90%);
}


.navbar-nav {
    width: 100%;
}

.navbar-brand {
    font-family: Open sans;
    font-size: 25px;
}

.navbar-brand:hover {
    color: #fafafa;
}

.jpt-navbar-adjust {
    padding-top: 80px;
}

/* -------------------------- Landing Page - Top Section ----------------------------- */

.jpt-headline .carousel-item {
    height: 90vh;
}

.jpt-headline img {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: -1;
    filter: brightness(50%);
}

.jpt-carousel {
    left: 0;
    right: 0;
    bottom: 50%;
    width: 100%;
}

.jpt-carousel h2 {
    font-size: 80px;
    font-weight: 800;
    text-align: right;
    padding-right: 25px;
    text-shadow: -4px 4px 5px rgba(11, 11, 11, 1);
}

.jpt-carousel h3 {
    font-size: 35px;
    font-weight: 600;
    margin-top: -10px;
    text-align: right;
    padding-right: 25px;
    text-shadow: -4px 4px 5px rgba(11, 11, 11, 1);
}

.jpt-promo-primary {
    padding: 20px;
    align-items: center;
}

.jpt-promo-primary a {
    margin-left: 10px;
    padding: 15px;
    border-radius: 35px;
    font-size: 20px;
    font-weight: 500;
    color: #fafafa;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.jpt-promo-primary a:hover {
    background: #fafafa;
    color: #008080;
}

.jpt-promo-heading {
    text-align: center;
}

.jpt-promo-heading h2 {
    display: inline-block;
    line-height: 1em;
    font-size: 1.5em;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}


/* --------------------------- Landing Page - Middle Section ------------------------- */

.jpt-banner {
    line-height: 1em;
    font-size: 1.5em;
    font-weight: 200;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}


/* --------------------------------------------------------------------------------- */
.animation-target {
    -webkit-animation: animation 1500ms linear both;
    animation: animation 1500ms linear both;
}

/* Generated with Bounce.js. Edit at http://bouncejs.com#%7Bs%3A%5B%7BT%3A%22t%22%2Ce%3A%22B%22%2Cd%3A1500%2CD%3A0%2Cf%3A%7Bx%3A100%2Cy%3A0%7D%2Ct%3A%7Bx%3A0%2Cy%3A0%7D%2Cs%3A5%2Cb%3A4%7D%5D%7D */

@-webkit-keyframes animation {
    0% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 100, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 100, 0, 0, 1);
    }
    2.8% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 57.608, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 57.608, 0, 0, 1);
    }
    5.61% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 27.378, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 27.378, 0, 0, 1);
    }
    8.41% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 9.079, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 9.079, 0, 0, 1);
    }
    11.11% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    16.12% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 4.336, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 4.336, 0, 0, 1);
    }
    33.33% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    38.34% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.104, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.104, 0, 0, 1);
    }
    55.66% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    60.56% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.002, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.002, 0, 0, 1);
    }
    77.88% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    82.78% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    100% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
}

@keyframes animation {
    0% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 100, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 100, 0, 0, 1);
    }
    2.8% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 57.608, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 57.608, 0, 0, 1);
    }
    5.61% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 27.378, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 27.378, 0, 0, 1);
    }
    8.41% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 9.079, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 9.079, 0, 0, 1);
    }
    11.11% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    16.12% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 4.336, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 4.336, 0, 0, 1);
    }
    33.33% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    38.34% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.104, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.104, 0, 0, 1);
    }
    55.66% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    60.56% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.002, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.002, 0, 0, 1);
    }
    77.88% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    82.78% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    100% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
}

/* --------------------------------------------------------------------------------- */

.jpt-logo-text {
    font-family: Open sans;
    font-size: 1.2em;
    padding-left: 10px;
    padding-right: 10px;
}

.jpt-text {
    height: 250px;
    margin: 0;
    padding-top: 75px;
    font-size: 50px;
    line-height: 50px;
    font-weight: 300;
    text-transform: capitalize;
}

.jpt-img-one {
    background-image: url("/static/img/jpt-dumbbells.jpg");
}

.jpt-bio-container {
    padding-top: 40px;
    padding-bottom: 40px
}

.jpt-bio-content {
    padding-top: 100px;
}

.jpt-bio-img {
    height: 600px;
    background: url("/static/img/jpt-bio-lg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jpt-img-two {
    background-image: url("/static/img/jpt-deadlift.jpg");
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jpt-section1-img {
    height: 200px;
    width: 200px;
    border: solid #fafafa 3px;
}

.jpt-section-img {
    display: table-cell;
    height: 95vh;
    width: 100vw;
    vertical-align: middle;
}


.bliss-bio {
    padding: 20px;
}

.bliss-bio-img img {
    height: 500px;
    width: 500px;
    object-fit: cover;
    text-align: right;
}

.bliss-bio-heading {
    font-weight: 600;
    text-shadow: 4px 4px 5px rgba(102, 102, 102, 1);
}

.bliss-bio-text {
    font-weight: 500;
    text-shadow: 2px 2px 3px rgba(102, 102, 102, 1);
}


/*------------ Landing Page - Testimonial Section, WhatsApp inspired ---------------*/

.jpt-testimonial {
    height: 100%;
    padding: 50px;
}

.speech-bubble {
    position: relative;
    margin: 20px;
    padding: 10px;
    background: #111111;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: #fafafa solid 4px;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 0 15px 25px;
    border-color: transparent #111111;
    display: block;
    width: 0;
    z-index: 1;
    right: -25px;
    top: 28px;
}

.speech-bubble:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 18px 0 18px 28px;
    border-color: transparent #fafafa;
    display: block;
    width: 0;
    z-index: 0;
    right: -32px;
    top: 25px;
}

.speech-bubble h4,
.speech-bubble h5 {
    padding: 10px;
}

/*-------------------------------- User Pages -------------------------------------*/

.jpt-login-section {
    min-height: 500px;
}

.jpt-login-section a {
    color: #fafafa;
}

.text-muted {
    color: #fafafa !important;
}

.form-control:hover,
.form-control:focus {
    border-top-color: #111111;
    border-right-color: #111111;
    border-bottom-color: #111111;
    border-left-color: #111111;
}

.jpt-profile-img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 3px solid #fad4e6;
}

.user-container {
    border: 3px solid #fad4e6;
    border-radius: 25px;
}

.jpt-link-red {
    color: #de0000;
}

.jpt-link-red:hover {
    color: #de0000;
}

/*----------------------------------- Blog -------------------------------------*/

.jpt-page-header {
    width: 100vw;
    height: 75vh;
    display: table-cell;
    vertical-align: middle;
}

.jpt-page-header h5 {
    margin: 0;
    padding-top: 80px;
    font-size: 50px;
    font-weight: 600;
}


.jpt-blog-img {
    display: table-cell;
    height: 600px;
    width: 100vw;
    vertical-align: middle;
}

.jpt-img-tile {
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    width: 100%;
    background-position: center;
}

.jpt-blog-card {
    padding: 25px;
}

.jpt-blog-link {
    color: #de0000;
    font-weight: 600;
}

.jpt-blog-link:hover {
    color: #de0000;
}

.jpt-blog-detail a:hover {
    color: #de0000;
}



/*----------------------------------- Footer -------------------------------------*/

.jpt-footer {
    padding-top: 20px;
    min-height: 300px;
}

.jpt-social-icons a i {
    font-size: 50px;
}

.jpt-link,
.jpt-link:hover {
    color: #fafafa;
}
