/*font-family: 'Sriracha', cursive;*/

/*font-family: 'Raleway', sans-serif;*/

/*font-family: 'Open Sans', sans-serif;*/

/* --------------------------------- App settings -------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: 'Raleway', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.join-img-jpt {
    background: url("/static/img/joeparispt_mainpic1.jpg") 50% 0 no-repeat;
    background-size: cover;
}

.login-img-jpt {
    background: url("/static/img/joeparispt_mainpic2.jpg") 50% 0 no-repeat;
    background-size: cover;
}

.profile-img-jpt {
    background: url("/static/img/joeparispt_mainpic3.jpg") 50% 0 no-repeat;
    background-size: cover;
}

.blog-img-jpt {
    background: url("/static/img/joeparispt_mainpic4.jpg") 50% 0 no-repeat;
    background-size: cover;
}


/* ---------------------------- JPT Background Colours ---------------------------- */

.bg-jpt-darkblue {
    background-color: #00213b;
}

.bg-jpt-black {
    background-color: #111111;
}

.bg-jpt-grey {
    background-color: #333333;
}

.bg-jpt-teal {
    background-color: #008080;
}

.bg-jpt-white {
    background-color: #fafafa;
}

.bg-jpt-darkimage {
    background-color: rgba(48, 48, 48, 0.8);
}

.bg-jpt-red {
    background-color: #de0000;
}



.bg-jpt-gradient {
    background: rgb(17,17,17);
    background: linear-gradient(0deg, rgba(17,17,17,0) 0%, rgba(17,17,17,0.3536765047816002) 10%, rgba(17,17,17,0.6) 25%, rgba(17,17,17,0.75) 50%, rgba(17,17,17,0.85) 75%, rgba(17,17,17,1) 90%);
}

/* -------------------------- JPT Text Colours --------------------------------- */

.text-jpt-darkblue {
    color: #00213b;
}

.text-jpt-black {
    color: #222222;
}

.text-jpt-grey {
    color: #333333;
}

.text-jpt-teal {
    color: #008080;
}

.text-jpt-white {
    color: #fafafa;
}

.text-jpt-blue {
    color: #0060b0;
}

.text-jpt-red {
    color: #de0000;
}


/* ------------------------------------- Navbar -------------------------------------- */

.nav-primary-jpt {
    width: 100%;
    z-index: 1;
    position: fixed;
    top: 0px;
    transition: top 0.3s;
    min-height: 90px;
}

.navbar-brand {
    font-family: Open sans;
    font-size: 25px;
}

.navbar-brand:hover {
    color: #fafafa;
}

.nav-primary-link {
    margin-left: auto;
}

.nav-secondary-jpt {
    top: 90px;
    transition: top 0.3s;
    min-height: 60px;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.75);
}

.nav-secondary-jpt li {
    align-self: center;
}

.nav-secondary-jpt a {
    color: #fafafa;
    font-weight: 700;
}

.nav-secondary-jpt a {
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.nav-secondary-jpt a:hover {
    text-decoration: underline;
}

.jpt-page-content {
    margin-top: 90px;
}

/* -------------------------- Landing Page - Top Section ----------------------------- */

.headline-img-jpt {
    background: url("/static/img/jpt-landing.png") 50% 0 no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.jpt-logo-primary {
    font-size: 80px;
}

.jpt-logo-secondary {
    font-size: 35px;
    margin-top: -20px;
}

.jpt-carousel {
    -webkit-box-shadow: 0px 0px 5px 5px rgba(17, 17, 17, 1);
    -moz-box-shadow: 0px 0px 5px 5px rgba(17, 17, 17, 1);
    box-shadow: 0px 0px 5px 5px rgba(17, 17, 17, 1);
    border-radius: 5px;
}

.carousel-caption {
    right: 0; 
    top: 0;
    bottom: 65%;
    left: 0;
    width: 100%;
}

.jpt-carousel .carousel-inner img {
    filter: brightness(75%);
}

.jpt-carousel .carousel-item h4 {
    font-weight: 500;
}

.jpt-carousel .carousel-item a {
    font-weight: 600;
}

.jpt-carousel .carousel-item a:hover {
    color: #de0000;
}

.circle {
    position: absolute;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(17, 17, 17, 1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(17, 17, 17, 1);
    box-shadow: 0px 0px 5px 0px rgba(17, 17, 17, 1);
}

.circle-vanish {
    animation: circle-vanish .5s ease;
}

@keyframes circle-vanish {
    to {
        transform: scale(0);
    }
}

.circle-appear {
    animation: circle-appear .5s ease;
}

@keyframes circle-appear {
    to {
        transform: scale(1);
    }
}

.circle-none {
    display: none;
}

.circle-sm {
    height: 50px;
    width: 50px;
    top: 25px;
    right: 25px;
}

.circle-md {
    height: 100px;
    width: 100px;
    top: 100px;
    right: 100px;
}

.circle-lg {
    height: 150px;
    width: 150px;
    top: 250px;
    right: 0;
}

.circle-xl {
    height: 200px;
    width: 200px;
    top: 400px;
    right: 100px;
}

.jpt-promo-primary {
    padding: 20px;
    align-items: center;
}

.jpt-promo-primary a {
    margin-left: 10px;
    padding: 15px;
    border-radius: 35px;
    font-size: 20px;
    font-weight: 500;
    color: #fafafa;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.jpt-promo-primary a:hover {
    background: #fafafa;
    color: #008080;
}

.jpt-promo-heading {
    text-align: center;
}

.jpt-promo-heading h2 {
    display: inline-block;
    line-height: 1em;
    font-size: 1.5em;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}


/* --------------------------- Landing Page - Middle Section ------------------------- */

.jpt-banner {
    line-height: 1em;
    font-size: 1.5em;
    font-weight: 200;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.jpt-logo-text {
    font-family: Open sans;
    font-size: 1.2em;
    padding-left: 10px;
    padding-right: 10px;
}

.jpt-section-headlines h6 {
    margin: 0;
    padding-top: 25px;
    font-size: 2em;
    line-height: 5em;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

/*----- Animations -----*/

.come-in {
    transform: translateY(100px);
    animation: come-in 1.8s ease forwards;
}

.come-in:nth-child(odd) {
    animation-duration: 1s;
}

@keyframes come-in {
    to {
        transform: translateY(0);
    }
}

.jpt-img-one {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/38/Two_people_in_a_gym_using_BOSU_balls.jpg");
}

.jpt-bio-container {
    padding-top: 40px;
    padding-bottom: 40px
}

.jpt-bio-content {
    padding-top: 100px;
}

.jpt-bio-img {
    height: 600px;
    background: url("/static/img/jpt-bio-lg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jpt-img-two {
    background-image: url("https://images2.minutemediacdn.com/image/upload/c_crop,h_1192,w_2119,x_0,y_0/f_auto,q_auto,w_1100/v1554734334/shape/mentalfloss/568122-istock-869062004.jpg");
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jpt-section1-img {
    height: 200px;
    width: 200px;
    border: solid #fafafa 3px;
}

.jpt-section-img {
    display: table-cell;
    height: 95vh;
    width: 100vw;
    vertical-align: middle;
}


.bliss-bio {
    padding: 20px;
}

.bliss-bio-img img {
    height: 500px;
    width: 500px;
    object-fit: cover;
    text-align: right;
}

.bliss-bio-heading {
    font-weight: 600;
    text-shadow: 4px 4px 5px rgba(102, 102, 102, 1);
}

.bliss-bio-text {
    font-weight: 500;
    text-shadow: 2px 2px 3px rgba(102, 102, 102, 1);
}


/*------------ Landing Page - Testimonial Section, WhatsApp inspired ---------------*/

.jpt-testimonial {
    height: 100%;
    padding: 50px;
}

.speech-bubble {
    left: 25%;
    width: 75%;
	position: relative;
	background: #000000;
	border-radius: .4em;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 24px solid transparent;
	border-left-color: #000000;
	border-right: 0;
	border-top: 0;
	margin-top: -12px;
	margin-right: -24px;
}

.speech-bubble h4,
.speech-bubble h6,
.speech-bubble p {
    padding: 10px;
}

/*-------------------------------- User Pages -------------------------------------*/

.jpt-login-section {
    min-height: 500px;
}

.jpt-login-section a {
    color: #fafafa;
}

.text-muted {
    color: #fafafa !important;
}

.form-control:hover,
.form-control:focus {
    border-top-color: #111111;
    border-right-color: #111111;
    border-bottom-color: #111111;
    border-left-color: #111111;
}

.jpt-profile-img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 3px solid #fad4e6;
}

.user-container {
    border: 3px solid #fad4e6;
    border-radius: 25px;
}


/*----------------------------------- Blog -------------------------------------*/

.jpt-blog-img {
    display: table-cell;
    height: 600px;
    width: 100vw;
    vertical-align: middle;
}

.jpt-img-tile {
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    width: 100%;
    background-position: center;
}

.jpt-blog-card {
    padding: 25px;
}

.jpt-blog-link {
    color: #de0000;
    font-weight: 600;
}

.jpt-blog-link:hover {
    color: #de0000;
}

.jpt-blog-detail a:hover {
    color: #de0000;
}



/*----------------------------------- Footer -------------------------------------*/

.jpt-footer {
    padding-top: 20px;
    min-height: 300px;
}

.jpt-social-icons a i {
    font-size: 50px;
}

.jpt-link,
.jpt-link:hover {
    color: #fafafa;
}