/*font-family: 'Sriracha', cursive;*/

/*font-family: 'Raleway', sans-serif;*/

/*font-family: 'Open Sans', sans-serif;*/

/* --------------------------------- App settings -------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: 'Raleway', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

/* ---------------------------- JPT Background Colours ---------------------------- */

.bg-jpt-darkblue {
    background-color: #00213b;
}

.bg-jpt-black {
    background-color: #111111;
}

.bg-jpt-grey {
    background-color: #333333;
}

.bg-jpt-teal {
    background-color: #008080;
}

.bg-jpt-white {
    background-color: #fafafa;
}

.bg-jpt-darkimage {
    background-color: rgba(48, 48, 48, 0.5);
}

.bg-jpt-red {
    background-color: #de0000;
}


/* -------------------------- JPT Text Colours --------------------------------- */

.text-jpt-darkblue {
    color: #00213b;
}

.text-jpt-black {
    color: #222222;
}

.text-jpt-grey {
    color: #333333;
}

.text-jpt-teal {
    color: #008080;
}

.text-jpt-white {
    color: #fafafa;
}

.text-jpt-blue {
    color: #0060b0;
}

.text-jpt-red {
    color: #de0000;
}


/* ------------------------------------- Navbar -------------------------------------- */

.container-fluid {
    overflow: hidden;
}

.jpt-nav-primary {
    width: 100%;
    z-index: 1;
    position: fixed;
    text-transform: capitalize;
    top: 0px;
    transition: top 0.3s;
    min-height: 80px;
    background: rgb(17, 17, 17);
    background: linear-gradient(0deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.3536765047816002) 10%, rgba(17, 17, 17, 0.6) 25%, rgba(17, 17, 17, 0.75) 50%, rgba(17, 17, 17, 0.85) 75%, rgba(17, 17, 17, 1) 90%);
}

#navbar {
    transition: all ease-out .4s;
}

.navbar-nav {
    width: 100%;
}

.jpt-nav-active {
    color: #fafafa !IMPORTANT;
    transform: scale(1.1);
}

.jpt-navbar-adjust {
    padding-top: 80px;
}

.jpt-form a,
.jpt-link-red,
.jpt-link-red:hover {
    color: #de0000;
}

#jpt-link-white,
#jpt-link-white:hover {
    color: #fafafa;
}

/* ------------------------------------- Messages -------------------------------------- */

.jpt-alert {
    position: fixed;
    margin: 0 auto;
    top: 30vh;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
}

.message-bubble {
    position: relative;
    width: 500px;
    height: 200px;
    margin: 20px;
    padding: 10px;
    background: #111111;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: #fafafa solid 5px;
}

.message-bubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 30px 30px 0;
    border-color: #111111 transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -30px;
    left: 230px;
}

.message-bubble:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 34px 34px 0;
    border-color: #fafafa transparent;
    display: block;
    width: 0;
    z-index: 0;
    bottom: -39px;
    left: 226px;
}

.message-bubble h4 {
    font-size: 35px;
    padding: 10px;
    font-weight: 600;
    text-transform: capitalize;
}

.message-bubble h5 {
    font-size: 20px;
    padding: 10px;
}


.jpt-success {
    color: #008080;
}

.jpt-info {
    color: #17a2b8;
}

.jpt-warning {
    color: #de0000;
}

.jpt-debug {}

.jpt-error {
    color: #de0000;
}

/* -------------------------- Landing Page - Top Section ----------------------------- */

.jpt-headline {
    padding-top: 100px;
    height: 90vh;
}

.jpt-headline h2 {
    font-size: 40px;
    font-weight: 800;
    text-align: right;
    padding-right: 10px;
    text-shadow: -4px 4px 5px rgba(11, 11, 11, 1);
}

.jpt-headline h3 {
    font-size: 20px;
    font-weight: 600;
    margin-top: -10px;
    text-align: right;
    padding-right: 10px;
    text-shadow: -4px 4px 5px rgba(11, 11, 11, 1);
}


.jpt-carousel-container .carousel-item {
    height: 90vh;
}

.jpt-carousel-container img {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    min-height: 100%;
    min-width: 100%;
    filter: brightness(50%);
}

.jpt-carousel {
    left: 0;
    right: 0;
    bottom: 50%;
    width: 100%;
}

.jpt-carousel h2 {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    padding-right: 10px;
    text-shadow: -4px 4px 5px rgba(11, 11, 11, 1);
}

.jpt-carousel h3 {
    font-size: 20px;
    font-weight: 600;
    margin-top: -10px;
    text-align: center;
    padding-right: 10px;
    text-shadow: -4px 4px 5px rgba(11, 11, 11, 1);
}

#carousel-link {
    transition: filter ease .5s;
}

#carousel-link:hover {
    filter: brightness(80%);
}

.jpt-carousel-link {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}


/* --------------------------- Banners ------------------------- */

.jpt-banner {
    text-transform: uppercase;
    line-height: 20px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.jpt-promo-primary {
    border-bottom: solid #111111 2px;
    border-top: solid #111111 2px;
    padding: 25px;
    align-items: center;
}

.jpt-promo-heading {
    text-align: center;
}

.jpt-promo-heading h2 {
    display: inline-block;
    line-height: 20px;
    font-size: 18px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.footer-banner {
    display: table-cell;
    height: 200px;
    width: 100vw;
    vertical-align: middle;
}

.footer-banner h2 {
    font-size: 25px;
    font-weight: 500;
    font-family: 'Open Sans';
    text-align: center;
}


.footer-banner-link {
    text-align: center;
    transform: scale(1.5);
}

/* --------------------------------------------------------------------------------- */

.animation-target {
    -webkit-animation: animation 1500ms linear both;
    animation: animation 1500ms linear both;
}

/* Generated with Bounce.js. Edit at http://bouncejs.com#%7Bs%3A%5B%7BT%3A%22t%22%2Ce%3A%22B%22%2Cd%3A1500%2CD%3A0%2Cf%3A%7Bx%3A100%2Cy%3A0%7D%2Ct%3A%7Bx%3A0%2Cy%3A0%7D%2Cs%3A5%2Cb%3A4%7D%5D%7D */

@-webkit-keyframes animation {
    0% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 100, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 100, 0, 0, 1);
    }
    2.8% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 57.608, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 57.608, 0, 0, 1);
    }
    5.61% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 27.378, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 27.378, 0, 0, 1);
    }
    8.41% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 9.079, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 9.079, 0, 0, 1);
    }
    11.11% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    16.12% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 4.336, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 4.336, 0, 0, 1);
    }
    33.33% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    38.34% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.104, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.104, 0, 0, 1);
    }
    55.66% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    60.56% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.002, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.002, 0, 0, 1);
    }
    77.88% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    82.78% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    100% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
}

@keyframes animation {
    0% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 100, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 100, 0, 0, 1);
    }
    2.8% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 57.608, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 57.608, 0, 0, 1);
    }
    5.61% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 27.378, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 27.378, 0, 0, 1);
    }
    8.41% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 9.079, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 9.079, 0, 0, 1);
    }
    11.11% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    16.12% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 4.336, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 4.336, 0, 0, 1);
    }
    33.33% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    38.34% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.104, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.104, 0, 0, 1);
    }
    55.66% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    60.56% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.002, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.002, 0, 0, 1);
    }
    77.88% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    82.78% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    100% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
}

/* --------------------------------------------------------------------------------- */

.jpt-logo-text {
    font-family: Open sans;
    font-size: 1.2em;
    padding-left: 10px;
    padding-right: 10px;
}

.jpt-text {
    min-height: 200px;
    margin: 0;
    padding-top: 60px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: capitalize;
}

.jpt-bio-container {
    min-height: 80vh;
    padding-top: 40px;
    padding-bottom: 40px;
}

.jpt-bio-content {
    padding-top: 100px;
}

.jpt-bio-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jpt-section-img {
    height: 200px;
    width: 200px;
    border: solid #fafafa 3px;
}

.jpt-section {
    display: table-cell;
    height: 95vh;
    width: 100vw;
    vertical-align: middle;
}

.jpt-section h3,
.jpt-section h6 {
    font-weight: 500;
}

.bliss-bio {
    padding: 20px;
}

.bliss-bio-img img {
    height: 500px;
    width: 500px;
    object-fit: cover;
    text-align: right;
}

.bliss-bio-heading {
    font-weight: 600;
    text-shadow: 4px 4px 5px rgba(102, 102, 102, 1);
}

.bliss-bio-text {
    font-weight: 500;
    text-shadow: 2px 2px 3px rgba(102, 102, 102, 1);
}


/*------------ Landing Page - Testimonial Section, WhatsApp inspired ---------------*/

.jpt-testimonial {
    height: 100%;
    padding: 50px;
}

.speech-bubble {
    position: relative;
    margin: 20px;
    padding: 10px;
    background: #111111;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: #fafafa solid 4px;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 0 15px 25px;
    border-color: transparent #111111;
    display: block;
    width: 0;
    z-index: 1;
    right: -25px;
    top: 28px;
}

.speech-bubble:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 18px 0 18px 28px;
    border-color: transparent #fafafa;
    display: block;
    width: 0;
    z-index: 0;
    right: -32px;
    top: 25px;
}

.speech-bubble h4,
.speech-bubble h5 {
    padding: 10px;
}

/*-------------------------------- User Pages -------------------------------------*/

.jpt-login-section {
    min-height: 500px;
}

.jpt-login-section a {
    color: #fafafa;
}

.text-muted {
    color: #fafafa !important;
}

.form-control:hover,
.form-control:focus {
    border-top-color: #111111;
    border-right-color: #111111;
    border-bottom-color: #111111;
    border-left-color: #111111;
}

.jpt-profile-img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 3px solid #fad4e6;
}

.user-container {
    border: 3px solid #fad4e6;
    border-radius: 25px;
}


/*----------------------------------- Blog -------------------------------------*/

.jpt-page-header {
    width: 100vw;
    height: 75vh;
    display: table-cell;
    vertical-align: middle;
}

.jpt-page-header h5 {
    margin: 0;
    padding-top: 80px;
    font-size: 50px;
    font-weight: 600;
}

.jpt-img-tile {
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    width: 100%;
    background-position: center;
}

.jpt-blog-card {
    padding: 25px;
}

.jpt-blog-link {
    color: #de0000;
    font-weight: 600;
}

.jpt-blog-link:hover {
    color: #de0000;
}

/*----------------------------------- Products -------------------------------------*/

.jpt-products h4 {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 3px;
}

.jpt-products p {
    font-size: 12px;
    font-weight: 200;
}

#jpt-product-cost {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
}

#jpt-product-total {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 2px;
}

/*----------------------------------- Footer -------------------------------------*/

.footer-container {
    padding-top: 20px;
    display: table-cell;
    min-height: 500px;
    width: 100vw;
    vertical-align: middle;
}

.jpt-social-icons a i {
    font-size: 50px;
}

.list-unstyled li {
    padding-top: 10px;
    padding-bottom: 10px;
}

.list-unstyled a {
    font-size: 20px;
}

.jpt-icon-red {
    transition: background-color ease-out .5s;
}

.jpt-icon-red:hover {
    background-color: #de0000;
}

.quick-link h2 {
    font-size: 40px;
}

.quick-link a {
    font-size: 25px;
}

/*----------------------------------- Footer -------------------------------------*/

/*// Extra small devices (portrait phones, less than 576px)*/

/*// No media query for `xs` since this is the default in Bootstrap*/

/*// Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {}

/*// Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {
    .footer-banner h2 {
        font-size: 30px;
        text-align: left;
    }
}

/*// Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {
    .jpt-banner {
        line-height: 30px;
        font-size: 30px;
        font-weight: 800;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .jpt-promo-heading h2 {
        display: inline-block;
        line-height: 30px;
        font-size: 30px;
        font-weight: 200;
        letter-spacing: 10px;
    }

    .quick-link h2 {
        font-size: 50px;
    }
    .quick-link a {
        font-size: 30px;
    }
    .footer-banner-link {
        transform: scale(1.5);
    }
}

/*// Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {
    .jpt-headline h2 {
        font-size: 80px;
        padding-right: 25px;
    }

    .jpt-headline h3 {
        font-size: 35px;
        font-weight: 600;
        padding-right: 25px;
    }
    .jpt-carousel h2 {
        font-size: 80px;
        padding-right: 25px;
    }

    .jpt-carousel h3 {
        font-size: 35px;
        padding-right: 25px;
    }
    .jpt-text {
        height: 250px;
        padding-top: 75px;
        font-size: 50px;
        line-height: 50px;
    }
    .jpt-img-card {
        width: 50%;
    }

}
