{% extends 'base.html' %} {% load static %} {% block content %}

<div class="parallax" style="background-image: url({% static 'img/jpt-squat-training.jpg' %}">
    <div class="text-center bg-jpt-darkimage jpt-blog-img">
        <h1 class="text-jpt-white">Health & Wellbeing Blog</h1>
    </div>
</div>


{% if request.user.is_superuser %}
<div class="row">
    <div class="col-12 bg-jpt-black text-center py-3">
        <h4 class="text-jpt-red">EDIT MODE</h4>
        <a class="btn btn-dark" href="{% url 'new-blog' %}" role="button">Add Blog</a>
    </div>
</div>
{% endif %}

<div class="row pt-4 bg-jpt-black text-jpt-white">
    {% for blog in blogs %}
    <div class="col-12 col-md-4 jpt-blog-card">
        <div class="card">
            <div class="card jpt-img-container jpt-img-tile" style="background-image: url({{ blog.image.url }})"></div>
        </div>
        <h4 class="py-4">{{ blog.title }}</h4>
        <p class="py-2">{{ blog.headline }}</p>
        <a class="py-2 jpt-blog-link" href="{% url 'view-blog' blog.id %}">SEE MORE</a> 
        {% if request.user.is_superuser %}
        <div class="text-center py-2">
            <a class="btn btn-danger" href="{% url 'delete-blog' blog.id %}" role="button">Delete</a>
            <a class="btn btn-dark" href="{% url 'edit-blog' blog.id %}" role="button">Edit</a>
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>


{% endblock content %}
