{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="parallax jpt-img-blog">
    <div class="text-center text-jpt-white bg-jpt-darkimage jpt-section-img">
        <h3 class="">Health & Wellbeing Blog</h3>
    </div>
</div>

<div class="row pt-4 bg-jpt-black text-jpt-white">
    {% for blog in blogs %}
    <div class="col-12 col-md-4 jpt-blog-link">
        <div class="card jpt-img-container">
            <div class="jpt-img-tile" style="background-image: url({{ blog.image.url }})"></div>
        </div>
        <h4>{{ blog.title }}</h4>
        <p>{{ blog.headline }}</p>
        <a class="text-jpt-red" href="/">SEE MORE</a>
    </div>
    {% endfor %}
    <div class="col-12 col-md-4 jpt-blog-link">
        <div class="card jpt-img-container">
            <div class="jpt-img-tile" style="background-image: url({% static 'img/jpt-squat.jpg' %})"></div>
        </div>
        <h4>Squat Variations</h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        </p>
        <a class="text-jpt-red" href="/">SEE MORE</a>
    </div>
</div>


{% endblock content %}
