{% extends "base.html" %} {% load bootstrap_tags %} {% block content %}

<div class="blog-img-jpt">
    <div class="row bg-jpt-darkimage">
        <div class="col-11 text-right">
            <h2 class="jpt-logo-primary text-jpt-white">Joseph Paris</h2>
            <h3 class="jpt-logo-secondary text-jpt-red">Personal Trainer</h3>
        </div>
    </div>

    <div class="row bg-jpt-darkimage">
        <div class="col-10 offset-1 col-md-8 offset-md-2">
            <div class="jumbotron bg-jpt-black text-jpt-white text-center">
                <img class="card-img-top" src="{{ blog.image.url }}" alt="{{ blog.image }}">
                <h4 class="branded-title">{{ blog.title }}</h4>
                <h6 class="py-2 text-jpt-red">{{ blog.created_date }}</h6>
                <p class="py-2">{{ blog.headline }}</p>
                <p class="py-2">{{ blog.content }}</p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
