{% extends "base.html" %} {% load static %} {% load bootstrap_tags %} {% block content %}

<!--Header and Image-->
{% if blog.image.url %}
<div class="parallax" style="background-image: url({{ blog.image.url }}">
    <div class="text-center text-jpt-white bg-jpt-darkimage jpt-page-header">
        <h5 class="">{{ blog.title }}</h5>
    </div>
</div>
{% else %}
<div class="parallax" style="background-image: url({% static 'img/jpt-dumbbells.jpg' %}">
    <div class="text-center text-jpt-white bg-jpt-darkimage jpt-page-header">
        <h1 class="text-jpt-white">Blog Title</h1>
    </div>
</div>
{% endif %}

<!--Blog Form-->
<div class="row bg-jpt-black">
    <div class="col-10 offset-1 col-md-8 offset-md-2">
        <div class="bg-jpt-black text-jpt-white">
            <a class="text-jpt-red" href="{% url 'jpt-blogs' %}"><i class="fa fa-chevron-left"></i> Go Back</a>
            <h4 class="text-center py-3">Add Blog</h4>
            <form class="jpt-form" method="POST" enctype="multipart/form-data">
                {% csrf_token %} {{ form | as_bootstrap }}
                <br>
                <div class="text-center pb-4">
                    <a id="jpt-link-white" class="btn btn-danger" href="{% url 'jpt-blogs' %}" role="button">Cancel</a>
                    <button class="btn btn-dark" type="submit" name="action">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}
