{% extends 'base.html' %} {% load static %} {% load bootstrap_tags %} {% block script %}

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
    Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>

{% endblock script %} {% block content %}

<!--Header and Image-->
<div class="parallax" style="background-image: url({% static 'img/jpt-car-deadlift.jpg' %}">
    <div class="text-center text-jpt-white bg-jpt-darkimage jpt-page-header">
        <h5 class="">Checkout</h5>
    </div>
</div>

<!--Cart for checkout-->
<div class="row py-4 bg-jpt-black text-jpt-white jpt-products">

    <!--Product PT Session Tokens-->
    {% for item in cart_items %}
    <div class="py-3 col-8 offset-1">
        <h4 class="jpt-product-name">{{ item.product.name }}</h4>
    </div>
    <div class="col-2">
        <p id="jpt-product-cost" class="py-3 text-jpt-red">£{{ item.product.price }}</p>
        <form method="post" action="{% url 'adjust_cart' item.id %}">
            {% csrf_token %}
            <div class="input-group">
                <input name="quantity" type="number" min="0" max="999" class="form-control" placeholder="{{item.quantity}}">
                <span class="input-group-btn"><button class="btn btn-info btn-lg" type="submit">Amend</button></span>
            </div>
        </form>
    </div>
    {% endfor %}

    <div class="py-4 col-10 offset-1 text-right">
        <hr class="pt-3 border-white">
        <h4 class="pb-4">Total</h4>
        <p id="jpt-product-total">£{{ total }}</p>
        <a href="{% url 'checkout' %}" class="btn btn-info btn-lg" role="button">Checkout</a>
    </div>

</div>

<!--Checkout Form-->
<div class="row bg-jpt-black text-jpt-white">
    <div class="col-10 offset-1">
        <form role="form" method="POST" id="payment-form" action="{% url 'checkout' %}">
            <h4 class="pt-4 text-center text-jpt-red">Payment Details</h4>
            <div id="credit-card-errors" style="display: none;">
                <div id="alert-message block-message error" id="stripe-error-message"></div>
            </div>
            <div class="form-group">
                {{ order_form | as_bootstrap }}
            </div>
            <div class="form-group">
                {{ payment_form | as_bootstrap }}
            </div>
            {% csrf_token %}
            <div class="form-group text-center">
                <input class=" btn btn-info btn-lg" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
            </div>
        </form>
    </div>
</div>

{% endblock content %}
