{% extends "base.html" %} {% load static %} {% load bootstrap_tags %} {% block content %}

<!--Header and Image-->
<div class="parallax" style="background-image: url({% static 'img/jpt-car-deadlift2.jpg' %})">
    <div class="text-center text-jpt-white bg-jpt-darkimage jpt-page-header">
        <h5 class="">Login</h5>
    </div>
</div>

<!--Log In Form-->
<div class="row py-4 bg-jpt-black">
    <div class="col-10 offset-1 text-jpt-white">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Login:</legend>
                {{ form|as_bootstrap }}
                <p>Forgotton password? <a class="ml-2 jpt-link-red" href="{% url 'password_reset' %}">Reset your password</a></p>
            </fieldset>
            <div class="form-group">
                <button type="submit" class="btn btn-dark">Login</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <p>Need an account? <a class="ml-2 jpt-link-red" href="{% url 'user-register' %}">Sign Up Now!</a></p>
        </div>
    </div>
</div>

{% endblock content %}
