{% extends "base.html" %} {% load static %} {% block content %}

<!--Header and Image-->
<div class="parallax" style="background-image: url({% static 'img/jpt-car-deadlift.jpg' %}">
    <div class="text-center text-jpt-white bg-jpt-darkimage jpt-page-header">
        <h5 class="">Log In</h5>
    </div>
</div>

<!--Log back in link-->
<div class="row py-4 bg-jpt-black">
    <div class="col-10 offset-1 text-jpt-white text-center">
        <h2>You have been logged out</h2>
        <div class="border-top pt-3">
            <a class="jpt-link-red" href="{% url 'user-login' %}">Log Back In</a>
        </div>
    </div>
</div>


{% endblock content %}
