{% extends 'base.html' %} {% load static %} {% load bootstrap_tags %} {% block content %}

<!--Header and Image-->
<div class="parallax" style="background-image: url({% static 'img/jpt-deadlift.jpg' %}">
    <div class="text-center text-jpt-white bg-jpt-darkimage jpt-page-header">
        <h5 class="">Register</h5>
    </div>
</div>

<!--Register Form-->
<div class="row py-4 bg-jpt-black">
    <div class="col-10 offset-1 text-jpt-white">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Now!</legend>
                {{ user_form|as_bootstrap }}
            </fieldset>
            <div class="form-group">
                <button type="submit" class="btn btn-dark">Register</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <p>Already have an account?<a class="ml-2" href="{% url 'user-login' %}">Sign In</a></p>
        </div>
    </div>
</div>

{% endblock content %}
