{% extends 'base.html' %}  {% load static %} {% load bootstrap_tags %} {% block content %}

<div class="jpt-accounts-img" style="background-image: url({% static 'img/jpt-blog-default.jpg' %}">
    <div class="row bg-jpt-darkimage">
        <div class="col-11 text-right">
            <h2 class="jpt-logo-primary text-jpt-white">James Green</h2>
            <h3 class="jpt-logo-secondary text-jpt-red">Personal Trainer</h3>
        </div>
    </div>

    <div class="row bg-jpt-darkimage">
        <div class="col-10 offset-1 col-md-5">
            <div class="jumbotron bg-jpt-black text-jpt-white">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Join Now!</legend>
                    {{ user_form|as_bootstrap }}
                </fieldset>
                <div class="form-group">
                    <button type="submit" class="btn btn-dark">Register</button>
                </div>
            </form>
            <div class="border-top pt-3">
                <p>Already have an account?<a class="ml-2" href="{% url 'user-login' %}">Sign In</a></p>
            </div>
        </div></div>
    </div>
</div>

{% endblock content %}
