{% extends 'base.html' %} {% load static %} {% load bootstrap_tags %} {% block content %}

<div class="row bg-jpt-black text-jpt-white">

    <div class="col-12">
        <h4 class="pt-5 text-center text-jpt-red">Cart:</h4>
        <hr class="py-3 border-white">
    </div>

    {% for item in cart_items %}
    <div class="col-8 offset-1">
        <h5>{{ item.product.name }}</h5>
        <p >£{{ item.product.price }} - <span class="text-jpt-red">SESSION PRICE</span></p>
    </div>
    <div class="col-2">
        <form method="post" action="{% url 'adjust_cart' item.id %}">
            {% csrf_token %}
            <div class="input-group">
                <input name="quantity" type="number" min="0" max="999" class="form-control" placeholder="{{item.quantity}}">
                <span class="input-group-btn"><button class="btn btn-success" type="submit">Amend</button></span>
            </div>
        </form>
    </div>
    {% endfor %}

    <div class="col-10 offset-1">
        <h4 class="pt-4 text-center text-jpt-red">Total</h4>
        <p>£{{ total }}</p>
        <a href="/" class="btn btn-success" role="button">Checkout</a>
    </div>

</div>



{% endblock %}
