{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Sriracha&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" /> {% if title %}
    <title>JPT - {{ title }}</title>
    {% else %}
    <title>JPT</title>
    {% endif %}
</head>

<body>

    <!--Navbar - Primary-->
    <nav id="navbar" class="navbar navbar-expand-lg navbar-dark jpt-nav-primary">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse text-right" id="navbarSupportedContent">
            <ul class="navbar-nav nav-primary-link nav-fill">
                <li class="nav-item">
                    <a class="nav-link {% if nbar == 'home' %}jpt-nav-active{% endif %}" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if nbar == 'blog' %}jpt-nav-active{% endif %}" href="{% url 'jpt-blogs' %}">Health & Well-being Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if nbar == 'products' %}jpt-nav-active{% endif %}" href="{% url 'products' %}">Personal Training & Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if nbar == 'cart' %}jpt-nav-active{% endif %}" href="{% url 'view_cart' %}">
                        <i class="fa fa-shipping-cart"></i>Cart
                        {% if product_count > 0 %}
                            <label class="badge badge-warning">{{ product_count }}</label>
                        {% endif %}
                    </a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link {% if nbar == 'profile' %}jpt-nav-active{% endif %}" href="{% url 'user-profile' %}">
                        {{ user.username }}
                        {% if user.profile.session_token == 0 %}
                            <label class="badge badge-light bg-jpt-red" data-toggle="tooltip" data-placement="bottom" title="Session Tokens">{{ user.profile.session_token }}</label>
                        {% else %}
                            <label class="badge badge-light bg-jpt-teal" data-toggle="tooltip" data-placement="bottom" title="Session Tokens">{{ user.profile.session_token }}</label>
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if nbar == 'logout' %}jpt-nav-active{% endif %}" href="{% url 'user-logout' %}">
                        Logout
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link {% if nbar == 'login' %}jpt-nav-active{% endif %}" href="{% url 'user-login' %}">
                        Login
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if nbar == 'register' %}jpt-nav-active{% endif %}" href="{% url 'user-register' %}">
                        Register
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!--Django Messages-->
    {% if messages %}
    <div class="alert text-jpt-white jpt-alert" role="alert">
        {% for message in messages %} {% if 'safe' in message.tags %}
        <div class="message-bubble">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="text-center jpt-info">Checkout</h4>
            <h5 class="text-center">{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %} {{ message|safe }}</h5>
        </div>
        {% else %}
        <div class="message-bubble">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="text-center jpt-{% if message.tags %}{{ message.tags }}{% else %}general{% endif %}">{{ message.tags }}</h4>
            <h5 class="text-center">{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %} {{ message }}</h5>
        </div>
        {% endif %} {% endfor %}
    </div>
    {% endif %}

    <!--Block Content-->
    <div class="container-fluid">
        {% block content %}{% endblock %}
    </div>

    <!--JPT Footer Banner-->
    <div class="container-fluid">
        <div class="bg-jpt-teal text-jpt-black footer-banner">
            <div class="row">
                <div class="col 10 col-md-7 offset-1">
                    <h2>Hang on! Join now, get a free PT session</h2>
                </div>
                <div class="col 10 col-md-3 text-right">
                    <a class="btn btn-outline-light btn-lg" type="button" href="{% url 'user-register' %}">JOIN</a>
                </div>
            </div>
        </div>
    </div>

    <!--JPT Footer and Links-->
    <div class="container-fluid">
        <div class="bg-jpt-black bg-jpt-black text-jpt-white footer-container">
            <div class="row">
                <div class="col-10 col-md-5 offset-1 py-4">
                    <h1 class="pt-4">JPT</h1>
                    <h3 class="pt-4">James Green</h3>
                    <h6 class="text-jpt-red">Personal Trainer</h6>
                    <p class="py-2">Experienced Persnal Trainer, combining weight training, boxing and conditioning work into getting the results you want!</p>

                    <div class="pt-4">
                        <h4 class="pt-2">Site Links</h4>
                        <ul class="list-unstyled">
                            <li><a class="jpt-link-red" href="{% url 'home' %}">Home</a></li>
                            <li><a class="jpt-link-red" href="{% url 'jpt-blogs' %}">Health & Well-being Blog</a></li>
                            <li><a class="jpt-link-red" href="{% url 'products' %}">Personal Training & Products</a></li>
                            <li><a class="jpt-link-red" href="{% url 'view_cart' %}">
                                <i class="fa fa-shipping-cart"></i>Cart
                                {% if product_count > 0 %}
                                    <label class="badge badge-warning">{{ product_count }}</label>
                                {% endif %}
                            </a></li>
                            {% if user.is_authenticated %}
                                <li><a class="jpt-link-red" href="{% url 'user-profile' %}">{{ user.username }}
                                {% if user.profile.session_token == 0 %}
                                <label class="badge badge-light bg-jpt-red">{{ user.profile.session_token }}</label>
                                {% else %}        
                                <label class="badge badge-light bg-jpt-teal">{{ user.profile.session_token }}</label>
                                {% endif %}
                                </a></li>
                                <li><a class="jpt-link-red" href="{% url 'user-logout' %}">Logout</a></li>
                            {% else %}
                                <li><a class="jpt-link-red" href="{% url 'user-login' %}"></a></li>
                                <li><a class="jpt-link-red" href="{% url 'user-register' %}">Register</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="text-center col-10 offset-1 col-md-4 offset-md-2 jpt-social-icons py-4">
                    <a class="px-3" target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook-square text-jpt-white"></i></a>
                    <a class="px-3" target="_blank" href="https://www.instagram.com/"><i class="fa fa-instagram text-jpt-white"></i></a>
                    <a class="px-3" target="_blank" href="https://www.youtube.com/"><i class="fa fa-youtube text-jpt-white"></i></a>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    {% block script %} {% endblock script %}

</body>

</html>
