{% extends "base.html" %} {% load static %} {% load bootstrap_tags %} {% block content %}

<!--Header and Image-->
<!--Header and Image-->
<div class="parallax" style="background-image: url({% static 'img/jpt-full-bio.jpg' %}">
    <div class="text-center text-jpt-white bg-jpt-darkimage jpt-page-header">
        <h5 class="">Personal Training & Products - Edit Mode</h5>
    </div>
</div>

<!--Blog Form-->
<div class="row bg-jpt-black">
    <div class="col-10 offset-1 col-md-8 offset-md-2 text-jpt-white">
        <a class="jpt-link-red" href="{% url 'products' %}"><i class="fa fa-chevron-left"></i> Go Back</a>
        <h4 class="text-center py-3">Add Product</h4>
        <form class="jpt-form" method="POST" enctype="multipart/form-data">
            {% csrf_token %} {{ form | as_bootstrap }}
            <br>
            <div class="text-center pb-4">
                <a id="jpt-link-white" class="btn btn-danger" href="{% url 'products' %}" role="button">Cancel</a>
                <button class="btn btn-dark" type="submit" name="action">Save</button>
            </div>
        </form>
    </div>
</div>

{% endblock content %}
