{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Sriracha&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
    
    {% if title %} 
    <title>JPT - {{ title }}</title>
    {% else %}
    <title>JPT</title>
    {% endif %}
</head>

<body>

    <!--Navbar - Primary-->
    <nav id="navbar" class="navbar navbar-expand-lg navbar-dark jpt-nav-primary">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse text-right" id="navbarSupportedContent">
            <ul class="navbar-nav nav-primary-link nav-fill">
                <li class="nav-item">
                    <a class="nav-link {% if nbar == 'home' %}jpt-nav-active{% endif %}" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if nbar == 'blog' %}jpt-nav-active{% endif %}" href="{% url 'jpt-blogs' %}">Health & Well-being Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if nbar == 'products' %}jpt-nav-active{% endif %}" href="{% url 'products' %}">Buy PT Sessions & Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if nbar == 'cart' %}jpt-nav-active{% endif %}" href="{% url 'view_cart' %}">
                        <i class="fa fa-shipping-cart"></i>Cart
                        {% if product_count > 0 %}
                            <label class="badge badge-warning">{{ product_count }}</label>
                        {% endif %}
                    </a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user-profile' %}">
                        Profile{% if nbar == 'profile' %} <span class="sr-only">(current)</span>{% endif %}
                        <label class="badge badge-light bg-jpt-red" data-toggle="tooltip" data-placement="bottom" title="Session Tokens">{{ user.profile.session_token }}</label>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user-logout' %}">Logout{% if nbar == 'logout' %} <span class="sr-only">(current)</span>{% endif %}</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user-login' %}">Login{% if nbar == 'login' %} <span class="sr-only">(current)</span>{% endif %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user-register' %}">Register{% if nbar == 'register' %} <span class="sr-only">(current)</span>{% endif %}</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!--Django Messages-->
    {% if messages %}
    <div class="alert text-jpt-white jpt-alert" role="alert">
        {% for message in messages %}
        <div class="message-bubble">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="jpt-{% if message.tags %}{{ message.tags }}{% else %}general{% endif %}">{{ message.tags }}</h4>
            <h5>{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %} {{ message }}</h5>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <!--Block Content-->
    <div class="container-fluid">
        {% block content %}{% endblock %}
    </div>

    <!--Footer-->
    <div class="container-fluid">
        <!--JPT Promo Banner-->
        {% if user.is_authenticated %}
        <a href="{% url 'user-register' %}">
            <div class="row bg-jpt-teal text-jpt-white jpt-promo-primary">
                <div class="col-12">
                    <div class="jpt-promo-heading">
                        <h2 class="jpt-promo">Book a session today!</h2>
                    </div>
                </div>
            </div>
        </a>
        {% else %}
        <a href="{% url 'user-register' %}">
            <div class="row bg-jpt-teal text-jpt-white jpt-promo-primary">
                <div class="col-12">
                    <div class="jpt-promo-heading">
                        <h2 class="jpt-promo">Sign up today!</h2>
                    </div>
                </div>
            </div>
        </a>
        {% endif %}
        <div class="row bg-jpt-black text-jpt-white jpt-footer">
            <div class="col-12 col-md-5 offset-md-1">
                <h1 class="pt-4">JPT</h1>
                <h3 class="pt-4">James Green</h3>
                <h6 class="text-jpt-red">Personal Trainer</h6>
                <p class="py-2">Experienced Personal Trainer, combining weight training, boxing and conditioning work into getting the results you want!</p>
                <a class="jpt-link-red" href="{% url 'user-register' %}">Get started today!</a>
            </div>
            <div class="text-center col-12 col-md-4 offset-md-2 jpt-social-icons">
                <div class="pt-4">
                    <a target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook-square text-jpt-white"></i></a>
                </div>
                <div class="pt-2">
                    <a target="_blank" href="https://www.instagram.com/"><i class="fa fa-instagram text-jpt-white"></i></a>
                    <div class="pt-2">
                        <a target="_blank" href="https://www.youtube.com/"><i class="fa fa-youtube text-jpt-white"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    {% block head_js %} {% endblock head_js %}

</body>

</html>
